:root{
    --main-header-color: #4a90e2;
    --dark-blue-color: #1a3556;
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    
}








/* -----header----- */

header{
    display: flex;
    align-items: center;
    padding: 0;
    height: 51px;
    background-color: var(--main-header-color);
    
}
header ::placeholder{
    padding-left: 10px;
}

.logos{
    background-color: aliceblue;
    border-radius: 25px;
    border: 1px solid;
    overflow: hidden;
    margin: 20px;
}
#askitnowLogo{
    margin-right: 0px;
}

header>*{
    margin-left: 10px;
    margin-right: 10px;
}

#searchBar{
    height: 40px;
    width: 70%;
    margin: 5px;
    border-radius: 5px;
    border: 0.5px;
    

}

img{
   
    width: 48px;
    height: 48px;
}
/* --------------- */








main{
    display: grid;
   background-color: #fefefefe;
    grid-template-areas: 
    "top top ."
    "left left right";
    
}









/* -----top-------- */
.top{
    height: min-content;
    padding: 20px;
    grid-area: top;
}
.top>h1{
    display: inline;
    
    margin-bottom: 1px;
}


#askNewQBtn{
    display: inline;
    float: right;
    background-color: var(--dark-blue-color);
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    font-size: smaller;
}

/*-------------- */












/* ------left----- */


.left{
    padding: 20px;
    grid-area: left;
}

.left>div{
    height: fit-content;
    border-bottom:1px solid;
}
.left h2{
    padding-bottom: 5px;
    margin-bottom: 0;
}


.left p{
    padding-top: 0;
    margin-bottom: 20px;
    height: fit-content;
}
.askNewQ{
    display: block;
    border: solid 1px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    width:80%;
    height: max-content;
}
.askNewQ>*{
    margin: 20px;
    padding-top: 10px;
    padding-top: 10px;
   
}
.askNewQ>p>label{
    display: inline-block;
    margin-right: 20px;
    width: 100px;
}
.askNewQ>p>*{
    display: inline-block;
    margin: 10px;
    width: 300px;
}
.askNewQ input{
    margin-top: 10px;
    margin-bottom: 10px;


}
.askNewQ>p>input[type="submit"]{
    width: 120px;
    height: 30px;
    font-size: x-small;
    background-color: var(--dark-blue-color);
    color: aliceblue;
    padding: 2px;
    border-radius: 5px;
}
#xbtn{
    display: flex;
    float: right; 
}
.writer, .left p>a {
    display: inline-flex;
    
}
.writer{
    float: right;
}

/* ---------------- */










/* -----right----- */

.right{
    padding: 20px;
    margin-left: 20px;
    grid-area: right;
    
}
.right>ul{
    padding-left: 0;
    gap: 5px;
}

.right>ul>li{
    margin: 5px;
}
.right>ul>li>a , .left p>a{
    text-decoration: none;
    background-color: #4a90e2;
    color: aliceblue;
    padding: 3px 4px 3px 4px;
    border-radius: 2px;
    text-align: justify;
    font-size: smaller;

}
.right>h2{
    padding-left: 0;
}
/* --------------------- */


/* ---------footer-------- */

footer{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%; 
    height: 50;
    background-color: var(--main-header-color);
}
footer label{
    color: aliceblue;  
}



/* -------------------------- */

#gradtxt{
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    margin-left: 0;
}